@page
@model RazorCMS.ContactCreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            <nav class="navbar navbar-expand" style="height: 2rem;">
                <ul class="navbar-nav">
                    <li class="navbar-brand">
                        <h5>Create New Contact</h5>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-link btn-outline-light" href="javascript:$('#contact').submit();">
                            <i class="far fa-save"></i>&nbsp;&nbsp;Save
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-link btn-outline-light" href="javascript:history.go(-1);">
                            <i class="far fa-arrow-alt-circle-left"></i>&nbsp;&nbsp;Back
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="card-body overflow-auto">
            <div class="row">
                <form method="post" class="container" id="contact">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row col-md-12">
                        <div class="form-group col-8">
                            <label asp-for="Contact.Name" class="control-label"></label>
                            <input asp-for="Contact.Name" class="form-control" />
                            <span asp-validation-for="Contact.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="form-group col-4">
                            <label asp-for="Contact.WorkPhone" class="control-label"></label>
                            <input asp-for="Contact.WorkPhone" class="form-control" />
                            <span asp-validation-for="Contact.WorkPhone" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="Contact.MobilePhone" class="control-label"></label>
                            <input asp-for="Contact.MobilePhone" class="form-control" />
                            <span asp-validation-for="Contact.MobilePhone" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="Contact.HomePhone" class="control-label"></label>
                            <input asp-for="Contact.HomePhone" class="form-control" />
                            <span asp-validation-for="Contact.HomePhone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="form-group col-4">
                            <label asp-for="Contact.Email" class="control-label"></label>
                            <input asp-for="Contact.Email" class="form-control" />
                            <span asp-validation-for="Contact.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="Contact.WorkTitle" class="control-label"></label>
                            <input asp-for="Contact.WorkTitle" class="form-control" />
                            <span asp-validation-for="Contact.WorkTitle" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="Contact.CompanyId" class="control-label"></label>
                            <select asp-for="Contact.CompanyId" class="form-control" asp-items="ViewBag.CompanyId">
                                <option value="">(Select Company)</option>
                            </select>
                            <span asp-validation-for="Contact.CompanyId" class="text-danger"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--

<h1>Create</h1>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Contact.Name" class="control-label"></label>
                <input asp-for="Contact.Name" class="form-control" />
                <span asp-validation-for="Contact.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.WorkPhone" class="control-label"></label>
                <input asp-for="Contact.WorkPhone" class="form-control" />
                <span asp-validation-for="Contact.WorkPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.MobilePhone" class="control-label"></label>
                <input asp-for="Contact.MobilePhone" class="form-control" />
                <span asp-validation-for="Contact.MobilePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.HomePhone" class="control-label"></label>
                <input asp-for="Contact.HomePhone" class="form-control" />
                <span asp-validation-for="Contact.HomePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Email" class="control-label"></label>
                <input asp-for="Contact.Email" class="form-control" />
                <span asp-validation-for="Contact.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.WorkTitle" class="control-label"></label>
                <input asp-for="Contact.WorkTitle" class="form-control" />
                <span asp-validation-for="Contact.WorkTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.CompanyId" class="control-label"></label>
                <select asp-for="Contact.CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>
-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
