@page
@model RazorCMS.CompanyEditModel

@{
    ViewData["Title"] = "Edit";
}

    <div class="container">
        <div class="card">
            <div class="card-header">
                <nav class="navbar navbar-expand" style="height: 24px;">
                    <ul class="navbar-nav">
                        <li class="navbar-brand">
                            <h5>Edit Company</h5>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-link btn-outline-light" href="javascript:$('#company').submit();">
                                <i class="far fa-save"></i>&nbsp;&nbsp;Save
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-link btn-outline-light" asp-page="./Index">
                                <i class="far fa-arrow-alt-circle-left"></i>&nbsp;&nbsp;Back to List
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="card-body overflow-auto">
                <div class="row">
                    <form method="post" class="container" id="company">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Company.CompanyId" />
                        <div class="row col-md-12">
                            <div class="form-group col-6">
                                <label asp-for="Company.CompanyName" class="control-label"></label>
                                <input asp-for="Company.CompanyName" class="form-control" />
                                <span asp-validation-for="Company.CompanyName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="form-group col-6">
                                <label asp-for="Company.StreetAddress" class="control-label"></label>
                                <textarea asp-for="Company.StreetAddress" class="form-control" rows="2"></textarea>
                                <span asp-validation-for="Company.StreetAddress" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="form-group col-3">
                                <label asp-for="Company.CityAddress" class="control-label"></label>
                                <input asp-for="Company.CityAddress" class="form-control" />
                                <span asp-validation-for="Company.CityAddress" class="text-danger"></span>
                            </div>
                            <div class="form-group col-3">
                                <label asp-for="Company.ProvinceState" class="control-label"></label>
                                <input asp-for="Company.ProvinceState" class="form-control" />
                                <span asp-validation-for="Company.ProvinceState" class="text-danger"></span>
                            </div>
                            <div class="form-group col-3">
                                <label asp-for="Company.Country" class="control-label"></label>
                                <input asp-for="Company.Country" class="form-control" />
                                <span asp-validation-for="Company.Country" class="text-danger"></span>
                            </div>
                            <div class="form-group col-3">
                                <label asp-for="Company.ZipCode" class="control-label"></label>
                                <input asp-for="Company.ZipCode" class="form-control" />
                                <span asp-validation-for="Company.ZipCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="form-group col-3">
                                <label asp-for="Company.PhoneNo" class="control-label"></label>
                                <input asp-for="Company.PhoneNo" class="form-control" />
                                <span asp-validation-for="Company.PhoneNo" class="text-danger"></span>
                            </div>
                            <div class="form-group col-3">
                                <label asp-for="Company.FaxNo" class="control-label"></label>
                                <input asp-for="Company.FaxNo" class="form-control" />
                                <span asp-validation-for="Company.FaxNo" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-6">
                                <label asp-for="Company.Website" class="control-label"></label>
                                <input asp-for="Company.Website" class="form-control" />
                                <span asp-validation-for="Company.Website" class="text-danger"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
