@page
@model RazorCMS.CompanyIndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header" id="toolbar">
            <nav class="navbar navbar-expand" style="height: 24px;">
                <ul class="navbar-nav">
                    <li class="navbar-brand">
                        <h5>Companies</h5>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-link btn-outline-light" asp-page="Create">
                            <i class="fas fa-plus-circle"></i>&nbsp;&nbsp;Create New
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="card-body">
            <table id="table"
                   data-toggle="table"
                   data-url="api/Companies"
                   data-sortable="true"
                   data-height="520"
                   data-toolbar="#toolbar"
                   data-search="true"
                   data-show-search-button="true"
                   data-show-search-clear-button="true"
                   data-pagination="true"
                   data-show-columns="true"
                   class="table table-sm table-hover table-bordered table-striped thead-light">
                <thead class="thead-light">
                    <tr>
                        <th data-field="companyName" data-sortable="true">Company Name</th>
                        <th data-field="phoneNo" data-sortable="true">Phone No.</th>
                        <th data-field="faxNo" data-sortable="true">Fax No.</th>
                        <th data-field="website" data-sortable="true">Website</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section scripts {
<script>
    $('#table').on('click-row.bs.table',
        function (e, row, $element, field) {
            var id = row.companyId;
            if (id != null) {
                window.location.href = 'Companies/Details?id=' + id;
            }
        }
    );
</script>
}
